<ion-app *ngIf="!name">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-item>
        <ion-input name="username" type="username" placeholder="Username"  [(ngModel)]='login_user'>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='login_passwd'>
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" (click)='login()'>Login</ion-button>
      <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
    </ion-card>

  </ion-content>
</ion-app>
<ion-app *ngIf="name">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]='login_user'>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="login_passwd">
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" (click)='login()'>Login</ion-button>
      <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
    </ion-card>

  </ion-content>
</ion-app>
  
<ion-app *ngIf="name">
  <ion-menu content-id="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Hi {{name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item>
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <ion-label routerLink="/search">Search</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label routerLink="/home">Home</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="reader-outline" slot="start"></ion-icon>
            <ion-label routerLink="/category">Category</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
            <ion-label routerLink="/favorite">My Favorite</ion-label>
          </ion-item>
          
          <ion-item>
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label (click)="logout()">Logout</ion-label>
          </ion-item>

        </ion-list>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title routerLink="/home">App My Comic</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <router-outlet id="content"></router-outlet>
  </ion-content>
</ion-app>

<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
